---
import { Image } from "astro:assets";

import HuaweiLogo from "../../public/images/branches/huawei.webp";
import SonnenLogo from "../../public/images/branches/sonnen.webp";
import CanadianSolarLogo from "../../public/images/branches/canadian-solar.webp";
import SolarEdgeLogo from "../../public/images/branches/solar-edge.svg";
import LongiSolarLogo from "../../public/images/branches/longi-solar.webp";
import IronRidgeLogo from "../../public/images/branches/iron-ridge.webp";
---

<section id="marcas" class="py-10">
	<div class="mx-auto w-full px-10">
		<div class="grid grid-cols-2 gap-10 md:grid-cols-3 lg:grid-cols-6">
			<Image
				src={HuaweiLogo}
				alt="Huawei"
				class="size-40 object-contain grayscale transition hover:grayscale-0"
			/>

			<Image
				src={SonnenLogo}
				alt="Sonnen"
				class="size-40 object-contain grayscale transition hover:grayscale-0"
			/>

			<Image
				src={CanadianSolarLogo}
				alt="Canadian Solar"
				class="size-40 object-contain grayscale transition hover:grayscale-0"
			/>

			<Image
				src={SolarEdgeLogo}
				alt="SolarEdge"
				class="size-40 object-contain grayscale transition hover:grayscale-0"
			/>

			<Image
				src={LongiSolarLogo}
				alt="Longi Solar"
				class="size-40 object-contain grayscale transition hover:grayscale-0"
			/>

			<Image
				src={IronRidgeLogo}
				alt="IronRidge"
				class="size-40 object-contain grayscale transition hover:grayscale-0"
			/>
		</div>
	</div>
</section>
